header {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 10;
    text-align: center;
    /*
    background-color: #000000;
    height: 7rem;
    */
}

.call-us {
    background-color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vw;
    font: 400 5vw 'Noto Sans';
    letter-spacing: 0.8vw;
}

.call-us__text {
    display: none;
    margin-right: 2vw;
    color: #000000;
    text-transform: uppercase;
}

.call-us__number {
    display: inline;
    color: #ff0000;
    font-weight: bold;
    text-decoration: none;
}

.main-menu__list {
    display: flex;
    flex-direction: row;
}

.header-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8vw 5vw;
    box-shadow: inset 0 15vw 10vw -10vw #000000;
    height: 0;
}

.lawrank-logo__svg {
    height: 5vw;
}

.lawrank-logo--mono {
    display: none;
}

.hamburguer-logo__svg {
    height: 4.5vw;
}

.main-menu {
    display: none;
}

.main-menu__list {
    display: flex;
    flex-direction: row;
    font: 400 1.2rem 'Noto Sans';
    list-style-type: none;
    bottom: 0;
    gap: 1.7rem;
}

.main-menu-element {
    color: #ffffff;
    letter-spacing: 0.2rem;
}

.main-menu-element__a {
    text-decoration: none;
    text-transform: uppercase;
}

.phone-number {
    font: 700 1.75rem 'Noto Sans';
    letter-spacing: 0.2rem;
    position: relative;
    top: 2rem;
    left: 20.5rem;
}

.phone-number__a {
    color: #ffffff;
    text-decoration: none;
}

@media (min-width: 810px) {
    .call-us {
        height: 2.7rem;
        font-size: 1.1rem;
        letter-spacing: 0.15rem;
    }

    .call-us__text {
        display: inline;
        margin-right: 0.5rem;
    }

    .header-section {
        padding: 2rem 2rem;
        box-shadow: inset 0 10rem 5rem -10rem #000000;
    }

    .lawrank-logo__svg {
        height: 1.5rem;
    }

    .hamburguer-logo__svg {
        height: 1.1rem;
    }
}

@media (min-width: 1480px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .call-us {
        display: none;
    }

    .header-section {
        padding: 3rem 3rem;
        align-items: baseline;
        max-width: 100rem;
        align-self: center;
        gap: 10rem;
        box-shadow: 0 0 0;
    }

    .lawrank-logo {
        display: none;
    }

    .lawrank-logo--mono {
        display: inline;

    }

    .lawrank-logo--mono__svg {
        height: 2rem;
    }

    .hamburguer-logo {
        display: none;
    }

    .main-menu {
        display: inline;
    }
}